<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU7htMd8pWCglAAwduF-yMAanJpxHNqjo</string>
	<key>GCM_SENDER_ID</key>
	<string>592513833457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sqltest-1ae9e</string>
	<key>STORAGE_BUCKET</key>
	<string>sqltest-1ae9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592513833457:ios:28f10ba80a1af7fdbccc50</string>
</dict>
</plist>